<!-- Notifications -->
					<ul class="notifications "><!--	hidden-xs-->											
						<li>
							<a href="/inform" class="dropdown-toggle notification-icon"  >
								<i class="fa fa-bell"></i>
								<span class="badge" 
								<% if(locals.note_num==0){ %>
								style="display: none"
								<% } %>

								><%=locals.note_num%></span>
							</a>
						</li>	
					<!-- End Notifications -->					
					<!-- Userbox -->
					<!-- End Userbox -->